.candidatos{
  display: flex;
  flex-wrap: wrap;
}

.App h1 {
  font-size: 300%;
  color: white;
}

.candidatos h2 {
  font-size: 300%;
  color: lightgray;
}

.candidatos h3 {
  display: block;
  font-size: 200%;
  color: lightyellow;
}

.candidato{
  border: 5px solid black;
  border-radius: 10px;
  margin: 20px;

  flex: 1;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #3e3f4c;
}

input[type=text]{
  margin-left: 20px; 
  height: 50px; 
  width: 50%;
  font-size: 60px;
}

input[type=submit]{
  width: 200px;
  height: 60px;
  font-size: x-large;
  font-weight: bold;
  border: 1px solid black;
  /* background-color: black;
  color: white; */
}
