/* Geral */

body {
  background-color: #3e3f4c;
}


.Footer{
  padding: 10px 0;
  background-color: #30313b;
  margin-top: 15%;
  margin-bottom: 0;
}


.Footer li{
  display:table;
  margin:0px auto 0px auto;
  color: white;
  font-size: 200%;
}

/* Pagina principal */

.candidatos{
  display: flex;
  flex-wrap: wrap;
}

.App h1 {
  font-size: 300%;
  color: white;
}

.candidatos h2 {
  font-size: 300%;
  color: lightgray;
}

.candidatos h3 {
  margin-left: 10px;
  display: block;
  font-size: 200%;
  color: lightyellow;
}

.candidato{
  border: 5px solid black;
  border-radius: 10px;
  margin: 0 20px;
  background-color: #30313b;

  flex: 1;
  display: flex;
  flex-direction: column;
}

.aviso{
  border: 1px solid black;
  display: inline-block;
  background-color: #30313b;
}

/* Página do candidato */

.candidatoesp h1, h2{
  color: white;
}


/* Form */

.Form h1{
  color:aliceblue;
  font-size: 300%;
  font-weight: 900;
}

label{
  font-size: 3rem;
  color: white;
}

input[type=text]{
  margin-left: 20px; 
  height: 50px; 
  width: 50%;
  font-size: 60px;
}

input[type=submit]{
  width: 200px;
  height: 60px;
  font-size: x-large;
  font-weight: bold;
  border: 1px solid black;
  /* background-color: black;
  color: white; */
}
